*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    background-color: #ced0d3;
    outline: none;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.hh{
    width: fit-content;
    font-size: 25px;
    font-family: system-ui;
}
.calculator{
    background-color: #ced0d3;
    /*background-color: #ecf0f3;*/
    padding: 15px;
    border-radius: 20px;
    box-shadow: inset 5px 5px 12px #ffffff, 5px 5px 12px rgba(0,0,0,16);
    display: grid;
    grid-template-columns: repeat(4, 64px);
}
input{
   grid-column: span 4;
   width: 260px;
   height: 70px;
   background-color: #ecf0f3;
   box-shadow:inset -5px -5px 12px #ffffff, inset 5px 5px 12px rgba(0, 0, 0, 16) ;
   border: none;
   border-radius: 30px;
    color: rgb(70, 70, 70);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px ;
    margin-bottom: 30px;
   padding: 5%;
    
}
button{
    height: 48px;
    width: 48px;
    background-color: #ecf0f3;
    box-shadow: -5px -5px 12px #ffffff, 5px 5px 12px rgba(0,0,0,0.16);
    border: none;
    border-radius: 40%;
    margin: 8px;
    font-size: 15px;
}
button:hover{
    background-color: rgb(236, 227, 227);
}
.equal{
    width: 115px;
    border-radius: 40px; 
    background-color: #ecf0f3;
    box-shadow: -5px -5px 12px rgb(164, 157, 157), 5px 5px 12px rgba(0,0,0,0.16);
}
/*.calculator:hover{
    color: aqua;
}*/
